/* home page */
.container-hm {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.searchbar {
	display: flex;
	width: 600px;
	height: 40px;

}
.searchbar input,
.searchbar button {
	padding: 5px 20px;
	box-shadow: 3px 3px 3px #aaa;
}
.searchbar input {
	width: 500%;
	border-radius: 20px 0 0 20px;
}
.searchbar input:focus {
	outline: none;
}
.searchbar button {
	border-radius: 0 20px 20px 0;
	transition: .3s;
}
.searchbar button:hover {
	background-color: #955255;
}
.searchbar button:hover i{
	color: #fafafa;
	
}
#calenbox {
	width: 60%;
	height: 65%;
	margin: 40px 0;
	display: flex;
	background: url("https://picsum.photos/600/350?random=1") center center / cover;
	box-shadow: 20px 20px 15px #88888880;
}
#calendar {
	width: 65%;
	height: 100%;
	background-color: #99999990;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#calendar input[type="month"]{
	width: 30%;
	height: 6%;
	margin: 2%;
	box-sizing: border-box;
	padding: 8px ;
	opacity: .5;
}
#calendar input[type="month"]:focus {
	outline: none;
}
#calendar table {
	background-color: ivory90;
	width: 98%;
	height: 88%;

}
#calendar thead {
	background-color: #fff;
	line-height: 2;
}
#calendar td {
	text-align: center;
}
#calendar table button {
	font-size: 20px;
	color: #444;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-color: #d9d9d990;
	backdrop-filter: blur(5px);
}
#calendar table .today {
	background-color: #955255;
}
#calendar table .faded button{
	background-color: #ddd;
	color: #999;
}
#calendar table button:hover {
	background-color: #33333380;
	color: #ddd;
}
#calendar table button:focus {
	background-color: transparent;
	backdrop-filter: blur(0);

}
#info {
	width: 35%;
	height: 100%;
	background-color: #955255;
	box-sizing: border-box;
	padding: 3%;
	display: flex;
	flex-direction: column;
}
#info .date{
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 2px solid #f1f2f4;
}
#info .date h4,
#info .date h6 {
	color: #f1f2f4;
	font-weight: 900;
}
#info .date h4 {
	font-size: 40px;
}
#info .date h6 {
	font-size: 20px;
}
#info .event {

}
#info .event .item,
#info .btn {
	width: 100%;
	line-height: 3;
	margin: 5px 0;
	padding: 0 10px;
	box-sizing: border-box;
	background-color: #ffffff60;
}
#info .event .item:hover,
#info .btn:hover {
	background-color: #ffffff90;
} 
#info .event .item {
	display: flex;
	justify-content: space-between;
}
#info .event button {	
	margin: 15px 0;
	padding: 0 5px;
	background-color: transparent;
}
#info .btn {
	margin: 0 auto;
	text-align: center;
}
#info .btn button {
	background-color: transparent;
}
#taskbox {
	align-self: end;
	margin-right: 20%;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 50px;
	background-color: #955255;
	box-shadow: 3px 3px 8px #999;
}
#taskbox button {
	background-color: transparent;
	padding: 12px;
}
#taskbox i {
	font-size: 24px;
}
#taskbox button:hover {
	border-radius: 50px;
}
#taskbox button:hover i{
	color: #fff;
	transition: .2s;
}

/* list page */
.container-ls {
	flex-direction: column;
	justify-content: start;
	align-items: start;
	box-sizing: border-box;
	padding: 3% 8%;
}
.listnav {
	height: 5%;
	margin: 1% 0;
}
.listnav a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	text-decoration: none;
	width: 120px;
	height: 100%;
	position: relative;
}
.listnav a::after {
	content: '';
	position: absolute;
    left: 50%;
    right: 50%;
    bottom: 10%;
    border-bottom: 0.8px solid #333;
    transition: .3s;
}
.listnav a:hover::after {
    left: 25%;
    right: 25%;
}
.listnav a:first-child {
	border-right: .8px solid #333;
}
.listbox {
	width: 100%;
	height: 90%;
	display: flex;
	justify-content: space-between;
}
#todolist,
#shopping {
	width: 100%;
	height: 85%;
	background-color: #ffffff90;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3% 5%;
	backdrop-filter: blur(3px);
	box-shadow: 10px 10px 10px #88888880;
	overflow: auto;
	position: relative;
}
#todolist h4,
#shopping h4 {
	margin: 0 0 20px;
	position: sticky;
	text-align: center;
	left: 0;
	right: 0;
	top: 0;
}
.listbox form {
	display: flex;
	width: 100%;
	height: 40px;
	position: sticky;
	top: 43px;
	bottom: 90%;
}
.listbox form input {
	line-height: 30px;
}
.listbox form input[type="text"] {
	width: 92%;
	padding: 0 10px;
}
.listbox form input[type="text"]:focus {
	outline: none;
}
.listbox form input[type="submit"] {
	width: 8%;
}
.listbox .task {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0;
	line-height: 2;
	width: 100%;
	background-color: #ffffff60;
}
.listbox .task input,
.listbox .task p,
.listbox .task button {
	margin: 0 30px;
}
.listbox .task input {
	
}
.listbox .task button {
	font-size: 18px;
	background-color: transparent;
}
#todolist {
	margin-right: 50px
}
#shopping {

}

/* family page */
.container-fm {
	flex-wrap: wrap;
	justify-content: center;
    align-content: center;
	gap: 5% 2%;
}
.membercard,
.addcard {
	width: 40%;
	height: 35%;
	background-color: #A5A4B099;
	display: flex;
	justify-content: center;
	align-items: center;
}
.membercard button,
.addcard button {
	background-color: #fafafa;
	width: 100px;
	height: 25px;
	margin: 10px 0;
	border: 1px solid #aaa;
}
.membercard button:hover {
	background-color: #fafafa90;
	transition: .2s;
	font-variant: small-caps;
}
.addcard button {
	width: 100%;
	height: 100%;
	border: none;
	background-color: #A5A4B080;
	color: #555;
	font-size: 30px;
}
.addcard button:hover {
	background-color: transparent;
	color: #888;
	transition: .3s;
}
.membercard {
	box-shadow: 5px 5px 10px #33333360;
    justify-content: space-evenly;
}
.addcard {
	box-shadow: 5px 5px 10px #33333360;
}
.membercard .avatar {
	width: 120px;
	height: 120px;
}
.membercard .avatar img {
	border-radius: 200px;
	width: 100%;
	height: 100%;
}
.membercard .mainfunc {
	display: flex;
	flex-direction: column;
	position: relative;
}
.membercard .delete {

}
.membercard .mainfunc::before {
	content: '';
	width: 1px;
	height: 120%;
	background-color: #999;
	position: absolute;
	top: -10%;
	left: -15%;
}
.membercard .mainfunc::after {
	content: '';
	width: 1px;
	height: 120%;
	background-color: #999;
	position: absolute;
	top: -10%;
	right: -15%;
}
.membercard .delete button {
	background-color: #ccc;
}

/* community page */
.container-cm {
	flex-direction: column;
	height: 1950px;
}
.banner {
	width: 100%;
	height: 600px;
	background-color: #fff;
	backdrop-filter: blut(5px);
	background: 
		linear-gradient(-75deg, #00000090 55%, transparent 45%) center center / 100% 100%,
		url("https://picsum.photos/1600/680?random=2") right center / auto 100%;
	margin-bottom: -3%;
}

.bannertxt {
	width: 100%;
	height: 100%;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	box-sizing: border-box;
	padding: 5%;
}
.bannertxt form {
	margin: 3% 0;
}
.bannertxt a {
	text-decoration: none;
	margin: 1% 0;
	position: relative;
}
.bannertxt a::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #fafafa;
	transform: scale(0);
	transition: .3s;
}
.bannertxt a:hover::after {
	transform: scale(1);
}
.bannertxt h3 {
	color: #fafafa;
	font-size: 28px;
}
.bannertxt p {
	width: 50%;
	color: #fafafa;
	font-weight: 300;
}
.heading {
	text-align: center;
	margin: 5% 0 2%;
}
.rowwrap {
	display: flex;
	gap: 10px;
}
#topnews a {
	width: 90%;
	background-color: #fff;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: translateY(0);
	transition: .5s;
}
#topnews a:hover {
	transform: translateY(-15px);
	transition: .5s;
	background-color: #333;
}
#topnews a:hover h4 {
	color: #fafafa;
	transition: .5s;
}
.item img {
	width: 100%;
}
.item h4 {
	padding: 5%;
	margin-bottom: 10px;
	transition: .5s;
	font-weight: 500;
}
#highlight {

}
.hlitem {
	display: flex;
	flex-wrap: nowrap;
	gap: 10px;
	align-items: center;
	background-color: #fafafa99;
	backdrop-filter: blur(1px);
	padding: 3%;
	transition: .3s;
}
.hlitem:hover a {
	color: #aaa;
	transition: .3s;
}
.hlitem img {
	border-radius: 200px;
}
.hlitem .content {
	margin: 0 3%;
	font-weight: 200;
}
.hlitem .content a {

}
.hlitem .time {
	color: #aaa;
	font-weight: 200;
}
#recommendation {
	gap: 0;
}
.rcmditem {
	border-radius: 10px;
	position: relative;
	margin: 1%;
}
.rcmditem img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
.rcmditem h4 {
	position: absolute;
	font-size: 50px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #00000050;
	border-radius: 10px;
	color: #fafafa;
	opacity: 0;
	transition: .3s;
}
.rcmditem:hover h4 {
	opacity: 1;
	transition: .3s;
}


/* setting page */
.container-st {
	justify-content: center;
	align-items: center;
}
.setbox {
	width: 30%;
	height: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.setbox li {
	width: 100%;
	height: 100%;
	border-bottom: 1px solid #000;
	display: flex;
	align-items: center;
	padding-left: 5%;
	box-sizing: border-box;
	position: relative;
}
.setbox li:hover {
	background-color: ivory;
	transition: 1s;
}
.setbox li::after {
	content: '>>';
	position: absolute;
	right: 10px;
}
.setbox a {
	text-decoration: none;
}




























